In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch as tc
from torch.utils.data import Dataset, DataLoader

In [66]:
X_train = pd.read_csv("Data/Sample_Data/X_train.csv")
y_train = pd.read_csv("Data/Sample_Data/y_train.csv")

X_test = pd.read_csv("Data/Sample_Data/X_test.csv")
y_test = pd.read_csv("Data/Sample_Data/y_test.csv")

In [67]:
X_train.head()

,Unnamed: 0.1,Unnamed: 0,cc_num,merchant,category,amt,gender,state,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,age,trans_year,trans_month,trans_hour
0,915033,915033,4642894980163,187,6,-0.271845,1,12,51632,0.435690,-0.349709,-0.269998,0.589711,0.452309,-0.297518,33,2019,12,21
1,349891,349891,4809701904914,283,1,-0.195807,0,1,36869,-1.205172,0.374061,-0.096307,-0.751233,-1.091800,0.370697,39,2019,6,14
2,1091217,1091217,6011542681743618,482,7,0.564940,0,45,22810,0.053445,0.832086,-0.291305,1.195590,-0.135063,0.769216,51,2020,3,22
3,180024,180024,3546674063249004,464,3,-0.062695,1,43,76008,-1.150009,-0.536196,-0.249117,-1.223921,-1.109899,-0.572251,39,2019,4,8
4,211107,211107,346243940647414,41,6,-0.252196,1,35,43076,0.267894,0.568297,-0.264189,-1.132401,0.416799,0.522161,40,2019,4,22

In [70]:
len(X_train.columns)

19

In [68]:
X_train.select_dtypes(include=['number'])

,Unnamed: 0.1,Unnamed: 0,cc_num,merchant,category,amt,gender,state,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,age,trans_year,trans_month,trans_hour
0,915033,915033,4642894980163,187,6,-0.271845,1,12,51632,0.435690,-0.349709,-0.269998,0.589711,0.452309,-0.297518,33,2019,12,21
1,349891,349891,4809701904914,283,1,-0.195807,0,1,36869,-1.205172,0.374061,-0.096307,-0.751233,-1.091800,0.370697,39,2019,6,14
2,1091217,1091217,6011542681743618,482,7,0.564940,0,45,22810,0.053445,0.832086,-0.291305,1.195590,-0.135063,0.769216,51,2020,3,22
3,180024,180024,3546674063249004,464,3,-0.062695,1,43,76008,-1.150009,-0.536196,-0.249117,-1.223921,-1.109899,-0.572251,39,2019,4,8
4,211107,211107,346243940647414,41,6,-0.252196,1,35,43076,0.267894,0.568297,-0.264189,-1.132401,0.416799,0.522161,40,2019,4,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155596,101905,101905,3577578023716568,510,11,-0.341520,0,35,44412,0.503541,0.667475,-0.285407,-1.456277,0.413942,0.653028,40,2019,2,19
155597,1065735,1065735,30357372465631,643,7,0.642662,1,48,53926,1.011500,0.075189,-0.288772,1.114976,0.964387,0.118050,56,2020,3,23
155598,316170,316170,2610529083834453,106,0,0.027689,0,42,37138,-0.452346,0.262709,-0.220673,-0.830949,-0.364034,0.333486,29,2019,6,17
155599,842994,842994,3524574586339330,464,3,0.073349,0,9,32960,-2.148353,0.713946,0.055682,0.485134,-2.307775,0.754113,37,2019,12,8
155600,531165,531165,3583793405872580,508,2,0.005919,0,36,73564,-0.727101,-0.636472,-0.292339,-0.317692,-0.649466,-0.705028,53,2019,8,0

In [73]:
class TransactionDataset(Dataset):
    def __init__(self, data, labels):
        self.data = tc.tensor(data.values, dtype=tc.float32)
        self.labels = tc.tensor(labels.values, dtype=tc.float32)
        self.length = len(data)
        
    def __getitem__(self, index):
        return self.data[index], self.labels[index]

    def __len__(self):
        return self.length

In [74]:
train_dataset = TransactionDataset(X_train, y_train)
test_dataset = TransactionDataset(X_test, y_test)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False)



class MLPBinaryClassifier(nn.Module):
    def __init__(self, in_dim=4, hide_dim=64):
        super(MLPBinaryClassifier, self).__init__()
        self._features = in_dim
        self.weights_hide = tc.nn.Parameter(tc.randn((in_dim, hide_dim)))
        self.bias_hide = tc.nn.Parameter(tc.zeros((hide_dim, ), dtype=tc.float32) + 0.1)
        self.weights_clf = tc.nn.Parameter(tc.randn((hide_dim, 1)))
        self.bias_clf = tc.nn.Parameter(tc.zeros((1, ), dtype=tc.float32) + 0.1)

    def forward(self, x):
        # Check input dimensions
        assert len(x.shape) == 2 and x.shape[1] == self._features
        
        # Linear transformation on input to produce hidden states
        hidden_states = tc.mm(x, self.weights_hide) + self.bias_hide
        
        # Apply non-linear activation (ReLU) to hidden states
        act_hidden_states = tc.relu(hidden_states)
        
        # Linear transformation on activated hidden states to produce logits
        logits = tc.mm(act_hidden_states, self.weights_clf) + self.bias_clf
        
        # Apply sigmoid activation to logits for binary classification output
        return tc.sigmoid(logits)

input_dim = X_train.shape[1]
model = MLPBinaryClassifier(in_dim=input_dim)

# Compile the model
criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)